<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typography | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <section class="container-center-md">
    <h1 class="m-1">Customized Headings</h1>
    <p class="heading h1">Heading 1</p>
    <p class="heading h2">Heading 2</p>
    <p class="heading h3">Heading 3</p>
    <p class="heading h4">Heading 4</p>
    <p class="heading h5">Heading 5</p>
    <p class="heading h6">Heading 6</p>
    <h1 class="m-1">Small Text</h1>
    <div class="small-text">This is a small text</div>

    <h1 class="m-1">Gray Text</h1>
    <div class="gray-text fs-md fw-normal">This is a gray text</div>

    <h1 class="m-1">Centered Text</h1>
    <div class="text-center fs-md fw-normal">This text is centered</div>
  </section>
</body>

</html>