<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typography | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <!-- Header -->
  <header class="d-flex flex-justify-between flex-items-center p-1 fs-md doc-page-header">
    <a href="/index.html" class="brandname">
      <img src="../../assets/logo.png" alt="logo" width="30rem">
      vividUI
    </a>
    <!-- Socials -->
    <div class="social-links mx-md py-sm">
      <a href="https://github.com/SHAGUN0312" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/shagun_bagrecha" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/shagun-bagrecha-05a6b7184" target="_blank"><i
          class="fab fa-linkedin"></i></a>
    </div>
  </header>

  <section class="wrapper d-grid container-center-xl">
    <!-- SideBar -->
    <aside class="m-1 px-sm">
      <h3 class="p-0 my-sm">Getting Started</h3>
      <ul>
        <li>
          <a href="/components/Installation/install.html" class="d-inline-block">Installation</a>
        </li>
      </ul>
      <h3 class="p-0 my-sm">Components</h3>

      <ul>
        <li>
          <a href="/components/Alert/alert.html" class="d-inline-block">Alert</a>
        </li>
        <li>
          <a href="/components/Avatar/avatar.html" class="d-inline-block">Avatar</a>
        </li>
        <li>
          <a href="/components/Badge/badge.html" class="d-inline-block">Badge</a>
        </li>
        <li>
          <a href="/components/Button/button.html" class="d-inline-block">Button</a>
        </li>
        <li>
          <a href="/components/Card/card.html" class="d-inline-block">Card</a>
        </li>
        <li>
          <a href="/components/Grid/grid.html" class="d-inline-block">Grid</a>
        </li>
        <li>
          <a href="/components/Image/image.html" class="d-inline-block">Image</a>
        </li>
        <li>
          <a href="/components/Input/input.html" class="d-inline-block">Input</a>
        </li>
        <li>
          <a href="/components/List/list.html" class="d-inline-block">List</a>
        </li>
        <li>
          <a href="/components/Typography/typography.html" class="curr-page d-inline-block">Typography</a>
        </li>
      </ul>
    </aside>

    <main class="p-1">
      <div class="mx-1">
        <h2 class="h2 mx-sm main-title">Typography</h2>
        <div class="comp-code">
          <iframe src="https://www.thiscodeworks.com/embed/6212554b5362a500156c2bc5" style="width: 100%; height: 112px;"
            frameborder="0"></iframe>
        </div>
        <!-- Typography -->
        <div class="container-center-md">
          <h1 class="m-1">Customized Headings</h1>
          <p class="heading h1">Heading 1</p>
          <p class="heading h2">Heading 2</p>
          <p class="heading h3">Heading 3</p>
          <p class="heading h4">Heading 4</p>
          <p class="heading h5">Heading 5</p>
          <p class="heading h6">Heading 6</p>
          <h1 class="m-1">Small Text</h1>
          <div class="small-text">This is a small text</div>

          <h1 class="m-1">Gray Text</h1>
          <div class="gray-text fs-md fw-normal">This is a gray text</div>

          <h1 class="m-1">Centered Text</h1>
          <div class="text-center fs-md fw-normal">This text is centered</div>
        </div>
      </div>
      <div class="d-flex flex-justify-between navigation-footer">
        <a href="/components/List/list.html">
          <i class="fa fa-chevron-left"></i>List
        </a>
        <a href="../../index.html">Home<i class="fa fa-chevron-right"></i></a>
      </div>
    </main>
  </section>
</body>

</html>