<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <section class="container-center-md">
    <h1 class="m-1 h1 text-center">Simplified Grids</h1>
    <h3 class="m-2 h3 text-center">4 Column Grid</h3>
    <div class="d-grid grid-col-4">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    <h3 class="m-2 h3 text-center">3 Column Grid</h3>
    <div class="d-grid grid-col-3">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    <h3 class="m-2 h3 text-center">2 Column Grid</h3>
    <div class="d-grid grid-col-2">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
  </section>
</body>

</html>