<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <!-- Card -->
  <section class="d-flex flex-items-center flex-dir-col container-center-md">
    <!-- Vertical card -->
    <h1 class="m-2">Basic Vertical Card</h1>
    <div class="card text-center">
      <img src="../../assets/jeremy_zucker.jpg" alt="card-img" class="card-img-top">
      <div class="card-body">
        <h2 class="card-title">Jeremy Zucker</h2>
        <p class="card-desc">Now I'm shaking, drinking all this coffee..these last few weeks have been exhausting...</p>
        <a href="#" class="btn btn-secondary text-center mt-0">More Info</a>
      </div>
    </div>

    <!-- Horizontal Card -->
    <h1 class="m-2">Basic Horizontal Card</h1>
    <div class="card card-horizontal text-center">
      <img src="../../assets/jeremy_zucker.jpg" alt="card-img" class="card-img-top">
      <div class="card-body">
        <h2 class="card-title">Jeremy Zucker</h2>
        <p class="card-desc">Now I'm shaking, drinking all this coffee..these last few weeks have been exhausting...</p>
        <a href="#" class="btn btn-secondary text-center mt-0">More Info</a>
      </div>
    </div>

    <!-- Card with Badge -->
    <h1 class="m-2">Card with a Badge</h1>
    <div class="card text-center">
      <img src="../../assets/jeremy_zucker.jpg" alt="card-img" class="card-img-top">
      <div class="card-body">
        <span class="card-badge">Live Concert</span>
        <h2 class="card-title">Jeremy Zucker</h2>
        <p class="card-desc">Now I'm shaking, drinking all this coffee..these last few weeks have been exhausting...</p>
        <a href="#" class="btn btn-secondary text-center mt-0">More Info</a>
      </div>
    </div>

    <!-- Card with Dismiss -->
    <h1 class="m-2">Card with Dismiss</h1>
    <div class="card card-horizontal text-center">
      <img src="../../assets/jeremy_zucker.jpg" alt="card-img" class="card-img-top">
      <div class="card-body">
        <span class="card-dismiss"><i class="fas fa-times"></i></span>
        <h2 class="card-title">Jeremy Zucker</h2>
        <p class="card-desc">Now I'm shaking, drinking all this coffee..these last few weeks have been exhausting...</p>
        <a href="#" class="btn btn-secondary text-center mt-0">More Info</a>
      </div>
    </div>
     <!-- Card with text overlay -->
     <h1 class="m-2">Card with Text Overlay</h1>
     <div class="card text-center">
       <img src="../../assets/jeremy_zucker.jpg" alt="card-img" class="card-img-top">
       <div class="card-body">
         <h2 class="card-title">Jeremy Zucker</h2>
         <p class="card-desc">Now I'm shaking, drinking all this coffee..these last few weeks have been exhausting...</p>
         <a href="#" class="btn btn-secondary text-center mt-0">More Info</a>
         <div class="card-text-overlay fs-md">Cancelled</div>
       </div>
     </div>
     <!-- Text Only Cards  -->
     <h1 class="m-2">Text Only Cards</h1>
     <div class="card text-center pt-1">
       <div class="card-body">
         <h2 class="card-title">Jeremy Zucker</h2>
         <p class="card-desc">Now I'm shaking, drinking all this coffee..these last few weeks have been exhausting...</p>
         <a href="#" class="btn btn-secondary text-center mt-0">More Info</a>
       </div>
     </div>
     <!-- Card with Shadow -->
     <h1 class="m-2">Card with Shadow</h1>
     <div class="card card-shadow text-center">
       <img src="../../assets/jeremy_zucker.jpg" alt="card-img" class="card-img-top">
       <div class="card-body">
         <h2 class="card-title">Jeremy Zucker</h2>
         <p class="card-desc">Now I'm shaking, drinking all this coffee..these last few weeks have been exhausting...</p>
         <a href="#" class="btn btn-secondary text-center mt-0">More Info</a>
       </div>
     </div>
  </section>
</body>

</html>