<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <section class="container-center-md">
    <h1 class="m-1 text-center">Textbox</h1>
    <form class="form-group">
      <div class="input input-primary">
        <label name="email" class="input-label">Email</label>
        <input type="email" placeholder="Enter your Email.." />
        <div class="input input-primary">
          <label name="password" class="input-label">Password</label>
          <input type="password" class="input-primary-placeholder" placeholder="Enter your Password.." />
        </div>
      </div>
    </form>
    <h1 class="m-1 text-center">Textbox with validation</h1>
    <form class="form-group">
      <div class="input input-success">
        <label name="email" class="input-label">Email</label>
        <input type="email" placeholder="Enter your Email.." />
        <div class="input input-success">
          <label name="password" class="input-label">Password</label>
          <input type="password" placeholder="Enter your Password.." />
        </div>
        <div class="input-msg input-success-msg">* Strong Password</div>
      </div>
    </form>
    <h1 class="m-1 text-center">Textbox with Error</h1>
    <form class="form-group">
      <div class="input input-error">
        <label name="email" class="input-label">Email</label>
        <input type="email" placeholder="Enter your Email.." />
        <div class="input input-error">
          <label name="password" class="input-label">Password</label>
          <input type="password" placeholder="Enter your Password.." />
        </div>
        <div class="input-msg input-error-msg">* Incorrect Password</div>
      </div>
    </form>
  </section>
</body>

</html>