<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <!-- Header -->
  <header class="d-flex flex-justify-between flex-items-center p-1 fs-md doc-page-header">
    <a href="/index.html" class="brandname">
      <img src="../../assets/logo.png" alt="logo" width="30rem">
      vividUI
    </a>
    <!-- Socials -->
    <div class="social-links mx-md py-sm">
      <a href="https://github.com/SHAGUN0312" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/shagun_bagrecha" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/shagun-bagrecha-05a6b7184" target="_blank"><i
          class="fab fa-linkedin"></i></a>
    </div>
  </header>

  <section class="wrapper d-grid container-center-xl">
    <!-- SideBar -->
    <aside class="m-1 px-sm">
      <h3 class="p-0 my-sm">Getting Started</h3>
      <ul>
        <li>
          <a href="/components/Installation/install.html" class="d-inline-block">Installation</a>
        </li>
      </ul>
      <h3 class="p-0 my-sm">Components</h3>

      <ul>
        <li>
          <a href="/components/Alert/alert.html" class="d-inline-block">Alert</a>
        </li>
        <li>
          <a href="/components/Avatar/avatar.html" class="d-inline-block">Avatar</a>
        </li>
        <li>
          <a href="/components/Badge/badge.html" class="d-inline-block">Badge</a>
        </li>
        <li>
          <a href="/components/Button/button.html" class="curr-page d-inline-block">Button</a>
        </li>
        <li>
          <a href="/components/Card/card.html" class="d-inline-block">Card</a>
        </li>
        <li>
          <a href="/components/Grid/grid.html" class="d-inline-block">Grid</a>
        </li>
        <li>
          <a href="/components/Image/image.html" class="d-inline-block">Image</a>
        </li>
        <li>
          <a href="/components/Input/input.html" class="d-inline-block">Input</a>
        </li>
        <li>
          <a href="/components/List/list.html" class="d-inline-block">List</a>
        </li>
        <li>
          <a href="/components/Typography/typography.html" class="d-inline-block">Typography</a>
        </li>
      </ul>
    </aside>

    <main class="p-1">
      <div class="mx-1">
        <h2 class="h2 mx-sm main-title">Button</h2>
        <div class="comp-code">
          <iframe src="https://www.thiscodeworks.com/embed/621249f95362a500156c2ba7" style="width: 100%; height: 112px;"
            frameborder="0"></iframe>
        </div>
        <!-- Primary Buttons -->
        <h1 class="m-1">Primary buttons</h1>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>

        <!-- Outline Buttons -->
        <h1 class="m-1">Outline Button with tags</h1>
        <button type="submit" class="btn btn-outline-success">Submit</button>
        <button type="reset" class="btn btn-outline-danger">Reset</button>
        <button type="button" class="btn btn-outline-primary">Ready?</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Enquire</button>

        <!-- Disabled State -->
        <h1 class="m-1">Disabled State</h1>
        <button type="button" class="btn btn-primary txt-center" disabled>Primary button</button>
        <button type="button" class="btn btn-secondary" disabled>Button</button>

        <!-- Buttons with Icons -->
        <h1 class="m-1">Icon Buttons</h1>
        <button type="button" class="btn btn-primary flex-justify-center flex-items-center fs-sm">Next Song <i
            class="fa-solid fa-forward-step pl-xs"></i></button>
        <button type="button" class="btn btn-secondary btn-icon fs-sm">Pause <i
            class="fa-solid fa-pause pl-xs"></i></button>

        <!-- Floating Action Button -->
        <h1 class="m-1">Floating Action Button</h1>
        <button type="button" class="btn btn-info btn-float-action d-flex flex-justify-center flex-items-center p-0"><i
            class="fa-solid fa-backward-step fs-md"></i></button>

        <!-- Link Buttons -->
        <h1 class="m-1">Link Buttons</h1>
        <a class="btn btn-primary d-inline-block" aria-disabled="true">Primary link</a>
        <a class="btn btn-secondary d-inline-block" aria-disabled="true">Link</a>
      </div>
      <div class="d-flex flex-justify-between navigation-footer">
        <a href="/components/Badge/badge.html">
          <i class="fa fa-chevron-left"></i>Badge
        </a>
        <a href="/components/Card/card.html">Card<i class="fa fa-chevron-right"></i></a>
      </div>
    </main>
  </section>
</body>

</html>