<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <section class="container-center-md">

    <!-- Primary Buttons -->
    <h1 class="m-1">Primary buttons</h1>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>

    <!-- Outline Buttons -->
    <h1 class="m-1">Outline Button with tags</h1>
    <button type="submit" class="btn btn-outline-success">Submit</button>
    <button type="reset" class="btn btn-outline-danger">Reset</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Enquire</button>

    <!-- Disabled State -->
    <h1 class="m-1">Disabled State</h1>
    <button type="button" class="btn btn-primary txt-center" disabled>Primary button</button>
    <button type="button" class="btn btn-secondary" disabled>Button</button>

    <!-- Buttons with Icons -->
    <h1 class="m-1">Icon Buttons</h1>
    <button type="button" class="btn btn-primary flex-justify-center flex-items-center fs-sm">Next Song <i
        class="fa-solid fa-forward-step pl-xs"></i></button>
    <button type="button" class="btn btn-secondary btn-icon fs-sm">Pause <i
        class="fa-solid fa-pause pl-xs"></i></button>

    <!-- Floating Action Button -->
    <h1 class="m-1">Floating Action Button</h1>
    <button type="button" class="btn btn-info btn-float-action d-flex flex-justify-center flex-items-center p-0"><i
        class="fa-solid fa-backward-step fs-md"></i></button>

    <!-- Link Buttons -->
    <h1 class="m-1">Link Buttons</h1>
    <a class="btn btn-primary d-inline-block" aria-disabled="true">Primary link</a>
    <a class="btn btn-secondary d-inline-block" aria-disabled="true">Link</a>

  </section>

</body>

</html>