<!DOCTYPE html>
<html lang="javascriptreact">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Avatar | vividUI</title>
	<link rel="stylesheet" href="../../css/index.css">
</head>

<body>
	<section class="container-center-md">

		<!-- Sizes -->
		<h1 class=" m-1">Image Avatars</h1>
		<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-lg">
		<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-md">
		<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-sm">
		<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-xs">
		<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-xxs">

		<!-- Letter Avatars -->
		<h1 class="m-1">Letter Avatars</h1>
		<div class="avatar avatar-text avatar-md">SB</div>
		<div class="avatar avatar-text d-inline-flex flex-center avatar-sm">S</div>
		<div class="avatar avatar-text d-inline-flex flex-center avatar-xs">B</div>

		<!-- Icon avatars -->
		<h1 class="m-1">Icon Avatars</h1>
			<i class="fas fa-search avatar avatar-icon avatar-xs"></i>
			<i class="fas fa-music avatar avatar-icon avatar-xs"></i>
			<i class="fa-solid fa-folder avatar avatar-icon avatar-xs"></i>
	</section>
</body>

</html>