.flex-dir-col {
  flex-direction: column;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-items-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-items-end {
  align-items: end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-content-center {
  align-content: center;
}