/* Font Sizes */

.fs-xxl {
  font-size: var(--fs-xxl);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.text-center {
  text-align: center;
}

/* Font weights */

.fw-normal {
  font-weight: var(--fw-normal);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-bolder {
  font-weight: var(--fw-bolder);
}