<!DOCTYPE html>
<html lang="javascriptreact">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Badge | vividUI</title>
	<link rel="stylesheet" href="../../css/index.css">
</head>

<body>

	<section class="container-center-md">
		<!-- Badge on Avatars -->
		<h1 class="m-1">Badge on Avatars</h1>
		<div class="badge-container">
			<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-lg">
			<span class="badge badge-status badge-status-online"></span>
		</div>
		<div class="badge-container">
			<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-md">
			<span class="badge badge-status badge-status-away"></span>
		</div>
		<div class="badge-container">
			<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-sm">
			<span class="badge badge-status badge-status-ill"></span>
		</div>
		<div class="badge-container">
			<img src="../../assets/avatar.png" alt="female-teacher" class="avatar avatar-xs">
			<span class="badge badge-status badge-status-dnd"></span>
		</div>

		<!-- Badge on Icons -->
		<h1 class="m-1">Badge on Icons</h1>
		<div class="badge-container">
			<i class="fas fa-shopping-cart fs-lg"></i> <span class="badge badge-icon badge-icon-atc">6</span>
		</div>
		<div class="badge-container">
			<i class="fas fa-comment-alt fs-lg"></i>
			<span class="badge badge-icon badge-icon-notification">2</span>
		</div>
		<div class="badge-container">
			<i class="fas fa-envelope fs-lg"></i>
			<span class="badge badge-icon badge-icon-mail fs-xs">999+</span>
		</div>
	</section>
</body>

</html>