<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <section class="container-center-md">

    <!-- Simple ALerts -->
    <h1 class="m-1">Simple Alerts</h1>
    <p class="alert alert-primary fs-sm p-1 m-1">A simple primary alert!</p>
    <p class="alert alert-success fs-sm p-1 m-1">A simple success alert!</p>
    <p class="alert alert-warning fs-sm p-1 m-1">A simple warning alert!</p>
    <p class="alert alert-danger fs-sm p-1 m-1">A simple danger alert!</p>
    <p class="alert alert-info fs-sm p-1 m-1">A simple info alert!</p>
    <p class="alert alert-dark fs-sm p-1 m-1">A simple dark alert!</p>

    <!-- Alerts with Icons -->
    <h1 class="m-1">Alerts with Icons</h1>
    <p class="alert alert-primary fs-sm p-1 m-1"><i class="fa-solid fa-circle-info pr-xs"></i>An example alert with an
      icon.
    </p>
    <p class="alert alert-success fs-sm p-1 m-1"><i class="fa-solid fa-circle-check pr-xs"></i>An example success alert
      with
      an icon.</p>
    <p class="alert alert-warning fs-sm p-1 m-1"><i class="fa-solid fa-triangle-exclamation pr-xs"></i>An example
      warning
      alert with an icon.</p>
    <p class="alert alert-danger fs-sm p-1 m-1"><i class="fa-solid fa-triangle-exclamation pr-xs"></i>An example danger
      alert
      with an icon.</p>

    <!-- Dismissible Alerts -->
    <h1 class="m-1">Alerts with Dismiss</h1>
    <p class="alert alert-success alert-dismissible d-flex flex-justify-between flex-items-center fs-sm p-1 m-1">This is
      a success alert
      with a dismiss!<i class="fa-solid fa-xmark pr-xs"></i></p>
    <p class="alert alert-danger alert-dismissible d-flex flex-justify-between flex-items-center fs-sm p-1 m-1">This is
      a danger alert
      with a dismiss!<i class="fa-solid fa-xmark pr-xs"></i></p>

  </section>
</body>

</html>