<!DOCTYPE html>
<html lang="javascriptreact">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert | vividUI</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <!-- Header -->
  <header class="d-flex flex-justify-between flex-items-center p-1 fs-md doc-page-header">
    <a href="/index.html" class="brandname">
      <img src="../../assets/logo.png" alt="logo" width="30rem">
      vividUI
    </a>
    <!-- Socials -->
    <div class="social-links mx-md py-sm">
      <a href="https://github.com/SHAGUN0312" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/shagun_bagrecha" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/shagun-bagrecha-05a6b7184" target="_blank"><i
          class="fab fa-linkedin"></i></a>
    </div>
  </header>

  <section class="wrapper d-grid container-center-xl">
    <!-- SideBar -->
    <aside class="m-1 px-sm">
      <h3 class="p-0 my-sm">Getting Started</h3>
      <ul>
        <li>
          <a href="/components/Installation/install.html" class="d-inline-block">Installation</a>
        </li>
      </ul>
      <h3 class="p-0 my-sm">Components</h3>

      <ul>
        <li>
          <a href="/components/Alert/alert.html" class="curr-page d-inline-block">Alert</a>
        </li>
        <li>
          <a href="/components/Avatar/avatar.html" class="d-inline-block">Avatar</a>
        </li>
        <li>
          <a href="/components/Badge/badge.html" class="d-inline-block">Badge</a>
        </li>
        <li>
          <a href="/components/Button/button.html" class="d-inline-block">Button</a>
        </li>
        <li>
          <a href="/components/Card/card.html" class="d-inline-block">Card</a>
        </li>
        <li>
          <a href="/components/Grid/grid.html" class="d-inline-block">Grid</a>
        </li>
        <li>
          <a href="/components/Image/image.html" class="d-inline-block">Image</a>
        </li>
        <li>
          <a href="/components/Input/input.html" class="d-inline-block">Input</a>
        </li>
        <li>
          <a href="/components/List/list.html" class="d-inline-block">List</a>
        </li>
        <li>
          <a href="/components/Typography/typography.html" class="d-inline-block">Typography</a>
        </li>
      </ul>
    </aside>

    <main class="p-1">
      <div class="mx-1">
        <h2 class="h2 mx-sm main-title">Alert</h2>
        <div class="comp-code">
          <iframe src="https://www.thiscodeworks.com/embed/621233ac5362a500156c2b7b" style="width: 100%; height: 112px;"
            frameborder="0"></iframe>
        </div>
        <!-- Simple Alerts -->
        <h1 class="m-1">Simple Alerts</h1>
        <p class="alert alert-primary fs-sm p-1 m-1">A simple primary alert!</p>
        <p class="alert alert-success fs-sm p-1 m-1">A simple success alert!</p>
        <p class="alert alert-warning fs-sm p-1 m-1">A simple warning alert!</p>
        <p class="alert alert-danger fs-sm p-1 m-1">A simple danger alert!</p>
        <p class="alert alert-info fs-sm p-1 m-1">A simple info alert!</p>
        <p class="alert alert-dark fs-sm p-1 m-1">A simple dark alert!</p>
        <!-- Alerts with Icons -->
        <h1 class="m-1">Alerts with Icons</h1>
        <p class="alert alert-primary fs-sm p-1 m-1"><i class="fa-solid fa-circle-info pr-xs"></i>An example alert with
          an
          icon.
        </p>
        <p class="alert alert-success fs-sm p-1 m-1"><i class="fa-solid fa-circle-check pr-xs"></i>An example success
          alert
          with
          an icon.</p>
        <p class="alert alert-warning fs-sm p-1 m-1"><i class="fa-solid fa-triangle-exclamation pr-xs"></i>An example
          warning
          alert with an icon.</p>
        <p class="alert alert-danger fs-sm p-1 m-1"><i class="fa-solid fa-triangle-exclamation pr-xs"></i>An example
          danger
          alert
          with an icon.</p>
        <!-- Dismissible Alerts -->
        <h1 class="m-1">Alerts with Dismiss</h1>
        <p class="alert alert-success alert-dismissible d-flex flex-justify-between flex-items-center fs-sm p-1 m-1">
          This is
          a success alert
          with a dismiss!<i class="fa-solid fa-xmark pr-xs"></i></p>
        <p class="alert alert-danger alert-dismissible d-flex flex-justify-between flex-items-center fs-sm p-1 m-1">This
          is
          a danger alert
          with a dismiss!<i class="fa-solid fa-xmark pr-xs"></i></p>
      </div>
      <div class="d-flex flex-justify-between navigation-footer">
        <a href="/components/Installation/install.html">
          <i class="fa fa-chevron-left"></i>Installation
        </a>
        <a href="/components/Avatar/avatar.html">Avatar<i class="fa fa-chevron-right"></i></a>
      </div>
    </main>
  </section>
</body>

</html>